:root {
    --topBannerHeight: 50px;

    --height: 100%;
    --width: 100%;

    --borderThickness: 0;
    --defaultBorder: var(--borderThickness) solid #222;

    --fontsize: 16px;
    --contentPadding: 10px;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: arial;
    background-color: #eee;
    height: 100%;
    width:100%;

    word-wrap: break-word;
}

/* Topbars */
.topbanner, .coursetitle {
    position: relative;
    background: linear-gradient(-90deg, rgba(0,0,0,1.0), rgba(0,0,0,1.0), rgba(0,75,96,1.0), rgba(0,75,86,1.0),rgba(0,20,30,1.0));
    height: var(--topBannerHeight);
    width: 100%;
    z-index: 200;
}

.coursetitle {
    background: linear-gradient(-90deg, rgba(0,0,0,1.0), rgba(0,0,0,1.0), rgba(0,75,96,1.0), rgba(0,75,86,1.0),rgba(0,20,30,1.0));
}

.logo, .logo-right, .coursename {
    float: left;
    height: var(--topBannerHeight);
    line-height: var(--topBannerHeight);
    margin-left: 10%;
}

.logo-right {
    margin-left: 0;
}

.coursename {
    margin-left: 12%;
    color: #eee;
    text-align: center;
}



/* Grid */

.my-grid {

    display: grid;
    position: relative;
    width: 100%;
    height: calc(100% - var(--topBannerHeight));
    
    /* required for edge */
    -ms-grid-template-columns: 1fr 2.8fr 1fr;
    -ms-grid-template-rows: 1fr;
    -ms-grid-gap: var(--gap);

    /* required for any other browser */
    grid-template-columns: 1fr 2.8fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: var(--gap);
    
    box-sizing: border-box;
    border: var(--defaultBorder);
}

/* outer class */
.boxes {
    display: table;
    width: var(--width);
    height: var(--height);
    /*line-height: var(--height);*/

    box-sizing: border-box;
}

/* inner class */
.setTable {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    -webkit-vertical-align: middle;
}


/* Columns */
.side {
    background: rgba(255,255,255,1.0);
    border: var(--defaultBorder);
}

.content {
    padding-left: var(--contentPadding);
    text-align: left;
}

/* Sub Grid */

.subGrid {
    display: grid;
    position: relative;
    width: 100%;
    height: calc(100% - var(--topBannerHeight));
    
    /* required for edge */
    -ms-grid-template-columns: 1fr 1fr;
    -ms-grid-template-rows: 1fr;
    -ms-grid-gap: 5px;

    /* required for any other browser */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    
    box-sizing: border-box;
    border: var(--defaultBorder);
}

.subCells {
    width: 100%;
}

/* NAVIGATION: Fixed Side Menu */

.list-group {
    display: block;
    list-style-type: none;
    text-align: left;

    /*border: var(--defaultBorder);*/

    position: fixed;
    width: 9%;
    top: 100px;
    left: 10%;

    padding-left: 0;
    padding-right: 0;
}

.list-group-item a {
    display: block;
    width: 100%;
    color: #222;
    font-size: 16px;
    text-decoration: none;
    /*border-bottom: 1px solid #222;*/
    
    margin: 0;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    line-height: 26px;

    box-sizing: border-box;
}

.list-group-item a:hover {
    background-color: #aaa;
}

/* Text and Content */

h1 {
    font-size: calc(var(--fontsize)*2.4);
}

h2 {
   font-size: calc(var(--fontsize)*2.0);
}

h3 {
   font-size: calc(var(--fontsize)*1.6);
}

a {
    color: #09c;
    text-decoration: none;
}

/* Button Colors */
.btn {
    border: 0;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    color: #eee;
}

.btn-default {
    background: linear-gradient(180deg, rgba(220,220,220,1.0), rgba(190, 190, 190,1.0));
    color: #333;
}

.btn-info {
    background: linear-gradient(360deg, rgba(20,160,220,1.0), rgba(00, 190, 240,1.0));
}

.btn-primary {
    background: linear-gradient(180deg, rgba(20,90,220,1.0), rgba(00, 130, 240,1.0));
}

.btn-success {
    background: linear-gradient(180deg, rgba(20,200,90,1.0), rgba(00, 160, 90,1.0));
}

.btn-warning {
    background: linear-gradient(180deg, rgba(200,190,20,1.0), rgba(200, 130, 20,1.0));
}

.btn-danger {
    background: linear-gradient(180deg, rgba(20,90,220,1.0), rgba(00, 130, 240,1.0));
}

/* Pre and Code */

pre {
    background-color: #222;
    color: #fff;
    width: calc(100% - var(--contentPadding));
    padding: calc(var(--contentPadding)*2);
    
    box-sizing: border-box;
}

pre > code {
    color: #eee;
    background-color: transparent;
    padding: 0;
}

code {
    color: #fff;
    background-color: #222;
    padding: 4px;
    margin: 2px;
    line-height: 30px;
    border-radius: 5px;
}

/* Table */

table {
    table-layout: fixed;
    width: calc(100% - var(--contentPadding));
    border: 2px solid #222;
    border-collapse: collapse;
}

tr, th, td {
    border: 1px solid #222;
    border-collapse: collapse;
    padding: 5px;
}

td {
    white-space: nowrap;
}

@media screen and (max-width: 1290px) {
    .list-group {
        left: 1%;
    }
}

@media screen and (max-width: 1000px) {

    .logo, .coursename {
        float: left;
        height: var(--topBannerHeight);
        line-height: var(--topBannerHeight);
        margin-left: 2%;
    }

    .my-grid {
        /* required for edge */
        -ms-grid-template-columns: 0fr 1r 0fr;
        -ms-grid-template-rows: 1fr;
        /* other browsers */
        grid-template-columns: 0 1fr 0;
        grid-template-rows: 1fr;
    }

    .subGrid {
        /* required for edge */
        -ms-grid-template-columns: 1fr;
        -ms-grid-template-rows: 1fr 1fr;
        /* other browsers */
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }


    .side {
        display: none;
    }

    .content {
        padding-left: 10px;
    }

    pre > code {
        font-size: 16px;
        overflow-x: auto;
        white-space: pre-line;
    }
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 414px) {

    .btn {
        width: calc(100% - (var(--contentPadding)*1));
        padding: 15px 0;
    }

    .subCells {
        width: calc(100% - (var(--contentPadding)*1));
        padding: 15px 0;
    }

    .my-grid {
        /* required for edge */
        -ms-grid-template-columns: 0fr 1r 0fr;
        -ms-grid-template-rows: 1fr;
        /* other browsers */
        grid-template-columns: 0 1fr 0;
        grid-template-rows: 1fr;
    }

    .subGrid {
        /* required for edge */
        -ms-grid-template-columns: 1fr;
        -ms-grid-template-rows: 1fr 1fr;
        /* other browsers */
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .side {
        display: none;
    }

    .content {
        padding-left: 10px;
    }

    pre > code {
        font-size: 16px;
        overflow-x: auto;
        white-space: pre-line;
    }
}