html, body {

    margin : 0;
    padding : 0;
    font-size : 16px;
    font-family: arial;
    height: 100%;
}

body {
    /*background: linear-gradient(-220deg, rgba(0,0,0,1.0), rgba(0,0,0,1.0), rgba(0,75,96,0.7), rgba(0,75,86,0.7),rgba(0,20,30,0));*/
    background-size: 100% 400%;
    color: #222;
    background-color: #eee;
}

.constalation {
    background-image:url('https://github.com/ToiOhomaiBCS/jk11files/blob/master/ToiOhomai_Images/Toi%20Ohomai_Constellation_1920x1080.png?raw=true');
    background-repeat: no-repeat;
    background-size: 100%;
    background: linear-gradient(-220deg, rgba(0,0,0,1.0),rgba(0,0,0,1.0), rgba(0,75,96,0.7), rgba(0,75,96,0.7));
    height: auto;
    padding-bottom:10%;
}

h1 {
    font-size : 24pt;
}

h2 {
    font-size : 20pt;
}

a{
    text-decoration: none;
    color: #eee;
    background-color: #444;
    border-radius: 5px;
    padding: 4px;
}

.navbar-brand, .navlinks {
    background-color: transparent;
}

strong {
    color: orange;
}

a:hover {
    color: #000;
}

a.navlinks {
    font-size : 12pt;
}

.wrapper {
    min-height: 100%;
    height: 100%;
}

.footer {
    padding: 20px;
    padding-top: 5px;
    box-sizing: border-box;
    background-color: #222;
    font-family: arial;
}

.footer a {
    background-color: transparent;
    color: #aaa;
}

.footer, .push {
    height: 220px; /* .push must be the same height as .footer */
}

table {
    border-collapse: collapse;
    border: 1px solid #222;
    width : 100%;
    color: #222;
}

tr, td, thead {
    border-collapse: collapse;
    border: 1px solid #222;
}

th, td {
    width: 30%;
    padding: 10px;
}

th {
    background-color: rgba(20,20,20,0.8);
    color: #fff;
}

blockquote {
    color: #292929;
    background-color: rgba(200, 200, 20, 0.8);
    border-color: orange;
    padding: 10px;
}

.info-tip {
    padding: 10px;
}

iframe {
    width: 100%;
    height: 400px;
}

.images {
    display:block;
    position: relative;
    height: 200px;
}

img.videoimg {
    position: absolute;
    left: 0;
    width:45%;
    border: 2px solid #222;
}

img.playbtn {
    position: absolute;
    left: 10%; 
    width:25%;
    
    background-repeat: no-repeat;
    opacity: 0.7;
    z-index: 2;
}

.coursemenu {
    font-size:14px;
}

.coursemenu li {
    background-color: transparent;
}

.list-group {
    background-color: #222;
}

.coursemenu li a {
    background-color: transparent;
    color: #aaa;
}

.boxsizing {
    box-sizing: border-box;
}

#desktop {
    display: none;
}

.background {
    /*background-color: rgba(50, 50, 50, 0.7);*/
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
     height: auto; 
    padding: 20px;
    padding-top: 10px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    border-radius: 20px;
}

/* Font icon sizes */

.iconlrg {
    font-size : 35px;
}

.background ul li a {
    text-decoration: none;
    color: #eee;
    background-color: #444;
    border-radius: 5px;
    padding: 4px;
}

.logophone {
    display: none;
}

hr {
    border-color: #222;
}

.titlelink {
    display:block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    background-color: rgba(20,20,20,0.8);
    margin-bottom:10px;
    padding-left:10px;
}

.menu {
    width: 100%;
    text-align: left;
}

@media screen and (max-width: 768px) {
    
    html, body {
        font-size : 12pt;
        font-family: arial;
    }

    body {
        background-size: 100% 1000%;
    }

    h1 {
        font-size : 18pt;
    }

    h2 {
        font-size : 16pt;
    }

    h3 {
        font-size : 14pt;
    }

    h1.title {
        text-align: center;
    }

    p {
        font-size : 12pt;
    }
    
    th, td {
        font-size: 12pt;
    }

    .btn {
        width: 100%;
        margin-bottom: 5px;
    }

    a {
        /*color: #f60;*/
    }

    p, img {
        width: 100%;
    }

    iframe {
        display: none;
    }

    a.iframe {
        color: orange;
    }

    img.playbtn {
        top: -40px;
        height: 100px;
        width: 100px;
    }

    #desktop {
        display: block;
    }
    
    #siderow {
        display: none;
    }

    /* Font icon sizes */

    .iconlrg {
        font-size : 25px;
    }

    .logophone {
        display: block;
    }

    img.playbtn {
        position: absolute;
        left: 10%; 
        width:25%;
        top: 3%;
        background-repeat: no-repeat;
        opacity: 0.7;
        z-index: 2;
    }
}