<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ site.title | default: site.github.repository_name }} by {{ site.author }}</title>

        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/menu.css?v=' | append: site.github.build_revision | relative_url }}">
    </head>
    <body>
        <header class="topbanner">
            <a href="//to-bcs.nz">
            <img class="logo" src="https://raw.githubusercontent.com/ToiOhomaiBCS/jk11files/master/ToiOhomai_Images/TOI%20OHOMAI%20WM_Transparent_White.png" alt="Toi Ohomai Logo" >
            <img class="logo-right" src="https://raw.githubusercontent.com/ToiOhomaiBCS/jk11files/master/ToiOhomai_Images/Constellation-Cropped.png" alt="Toi Ohomai Logo" >
            </a>
            <nav class="navbar">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    {% for item in site.data.navigation.docs %}
                        <li><a class="navlinks" href="{{ item.url }}" alt="{{ item.title }}" target="_blank">{{ item.title }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </nav>
        </header>
        <div class="coursetitle">
            <span class="coursename">{{page.coursecode}} - {{page.coursename}}</span>
        </div>

        <nav class="navbar2" >
            <label for="drop" class="toggle"><i class="fa fa-bars" aria-hidden="true">&nbsp;&nbsp;Menu</i></label>
            <input type="checkbox" id="drop" />
            <ul class="menu">
                {% for item in site.data.navigation.docs %}
                    <li><a class="navlinks" href="{{ item.url }}" alt="{{ item.title }}" target="_blank">{{ item.title }}</a></li>
                {% endfor %}
                <hr>
                {% for item in site.data.courses.sections %}
                    <li><a class="navlinks" id="desktop" href="{{ item.link }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>

        <div class="my-grid">
            <div class="boxes">
                <div class="setTable side">
                    <ul class="coursemenu list-group">
                        {% for item in site.data.courses.sections %}
                        <li class="list-group-item"><a href="{{ item.link }}">{{ item.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="boxes">
                <div class="content">
                    {{content}}
                </div>
            </div>
            <div class="boxes">
                <div class="setTable side"></div>
            </div>
        </div>
    </body>
</html>